body {
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
h1, h2, .h1, .h2, .btn-lg, .navbar-brand {
    font-family: 'Lobster Two', cursive;
}
h1, .h1 {
    font-size: 42px;
}
h2, .h2 {
    font-size: 36px;
}
.navbar-brand {
    font-size: 26px;
}
.btn-lg {
    font-size: 20px;
}
.header-shadow {
    text-shadow: 3px 2px 2px rgba(255, 168, 168, 0.9);
}

select.form-control-nosize {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select.form-control-nosize:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}



/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.
 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }
